
@{
    ViewBag.Title = "CrearPrestamo";
}

<h2>Informacion del Prestamo</h2>

<form>
    <div class="row">
        <div class="col-md-4">
            <label>Monto Prestamo</label>
            <input type="number" name="monto"/>
        </div>
    </div>
</form>

